* {
    text-decoration: none;
  }
  
  #tituloPagina {
    font-family: "Krona One", sans-serif;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
  }
  
  h2,
  h3,
  legend {
    font-family: "Cairo", sans-serif;
  }
  
  header {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    align-items: center;
  }
  
 
  
  form > label {
    font-weight: bold;
  }
  
  form {
    margin-right: 10px;
  }
  
  #cmbTransaccion {
    width: 100%;
  }
  
  select {
    text-align: center;
    text-align-last: center;
  }
  option {
    text-align: left;
  }
  
  input {
    border: none;
    background-color: lightgray;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .iconoInput {
    height: 30px;
    width: 30px;
  }
  
  .iconoBotones {
    height: 18px;
    width: 18px;
  }
  
  .buttonContainer {
    display: flex-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .botones {
    padding: 10px;
    border-radius: 10px;
  }
  
 
  
  fieldset {
    width: 50%;
  }
  
  fieldset legend {
    font-size: 20px;
  }
  
  button {
    border: none;
    padding: 7px 11px;
    background-color: lightseagreen;
    color: white;
  }
  
  div a {
    margin-left: 30px;
    color: white;
    padding: 5px 10px;
  }
  
  #footer {
    height: 80px;
  }
  
  #footer p {
    color: white;
    margin-left: 10px;
  }
  /* #imgAuto {
    height: 200px;
  } */